{% extends "layout.html" %}

{% block Title %}
Home Page
{% endblock %}

{% block content %}
<h1 class="bg-stone-950 text-3xl">RS | Home Page</h1>
<p class='text-center'> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt deleniti laboriosam unde. Porro expedita asperiores eum, dolorem iste suscipit eius iusto, fugiat optio perferendis culpa ab tempora quidem officiis reiciendis laboriosam quasi magni accusantium non earum ut nostrum alias. Ullam eaque praesentium enim rerum error saepe labore, veritatis tenetur nulla!  </p>
{% endblock %}